.env
*.log
*.pid
.DS_Store
tmp/
dist/

# Backend
backend/__debug_bin*
backend/bin/
backend/coverage.out
backend/.env
backend/go-api-mongo
backend/gym-crm

# Frontend  
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.next/

# Mobile
mobile/node_modules/
mobile/android/build/
mobile/android/.gradle/
mobile/android/app/build/
mobile/ios/build/
mobile/ios/Pods/
mobile/.expo/
mobile/.bundle/
mobile/*.log
mobile/.env.local
mobile/.env.development.local
mobile/.env.test.local
mobile/.env.production.local
